<h2>
  
</h2>

<% sum = 0 %>
<ul>
  　　日付　　　食費　
  <% @welcomes.each do |welcome| %>
  <li>
    <%= welcome.month %>月
    <%= welcome.date %>日
    (<%= welcome.week %>)
    <%= welcome.money %>円
    <%= link_to '[変更]', edit_welcome_path(welcome), class: 'command' %>
    <%= link_to '[X]', 
                welcome_path(welcome), 
                method: :delete,  
                class: 'command',
                data: { confirm: '削除しますか?' } %>
  </li>
  <% sum +=  welcome.money.to_i %>
  <% end %>
  <br>
  <li>合計: <%= sum %></li>
</ul>