<!DOCTYPE html>
<html>
  <head>
    <title>Household</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= yield %>
=======
    <div class="container">
      <%= yield %>
    </div>
>>>>>>> origin/master
  </body>
</html>
